h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: solid 3px #60A771;
}

.body-section
{
  min-height: calc(100vh - 110px);
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 30px;
}

.cadlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  width: 80%;
}

.cadlist ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.body-section form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  gap: 15px
}

.body-section__input
{
  height: 20px;
  width: 100%;

  border: none;
  border-radius: 5px;
  height: 40px;

  padding: 5px 10px;

  color: #898787;
}

.header-section
{
  height: 80px;

  /* dysplay flex */

  display: flex;
  justify-content: center;
  align-items: center;

  /* box */

  padding: 2px;
}

.footer-section 
{
  /* dysplay flex */

  display: flex;
  justify-content: center;
  align-items: center;

  /* box */

  width: 100%;
  height: 30px;
}

.footer-section__right-text
{
    font-size: small;
}